# HTTP
HTTP_ADDR=:8080

# PostgreSQL (пример для локального Docker: см. docker-compose в корне репозитория)
DATABASE_URL=postgres://tramplin:tramplin@localhost:5432/tramplin?sslmode=disable

# JWT (в продакшене — длинная случайная строка)
JWT_SECRET=760725003390710330760725003390710330760725003390710330

# CORS: origin фронтенда (через запятую)
CORS_ORIGINS=http://localhost:3000
